<!DOCTYPE html>
<html>
    <head>
        <title>Saket Srivastava</title>
        {{>link}}
    </head>
        {{>navbar}}
        {{>bg}}
        {{>footer}}
        <div class="container-fluid">
            <img class="img_404" src="images/err.png" alt="Error 404 page not found"/>
        </div>
        {{>srct}}
</html>