<!DOCTYPE html>
<html>
    <head>
    {{>link}}
    </head>
    <body>
        {{>navbar}}

        <div class="container-fluid">
            <h1 class="head_ind"> My Skills </h1>
        </div><br><br>
        <div class="middle">
            <img class="pyth logo" src = "images/pyth.png"/>
            <img class="cpp logo" src = "images/cpp.png"/>
            <img class="c logo" src = "images/c.png"/>
            <img class="html55 logo" src = "images/html5.png"/>
            <img class="css3 logo" src = "images/css3.png"/>
            <img class="jss logo" src = "images/js.png"/>
            <img class="cv logo" src = "images/cv.png"/>
            <img class="dl logo" src = "images/dl.png"/>
            <img class="njs logo" src = "images/njs.png"/>
            <img class="ml logo" src = "images/ml.png"/>
            <img class="rjs logo" src = "images/rjs.png"/>
        </div> 
        {{>bg}}
        {{>footer}}
        {{>srct}}
    </body>
</html>