<!DOCTYPE html>
<html>
    <head>
        <title>My Web</title>
        {{>link}}
    </head>
    <body>
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="row">
                    {{> navbar}}
                <div class="middle_page">
                        <div class="container-fluid">
                            
                            <div class="col-md-12"><br><br><br><br><br><br><br><br><br><br><br>
                                <h1 style="font-family: 'Potta One', cursive;">Welcome to <span style="color:blue;font-family: 'Potta One', cursive;">MY PROJECTS</span> page</h1>
                                <div class="mid col-8">
                                <h3 class="txt_middle"><i class="fas fa-globe-americas"></i>  Web projects  <span id="base_icn"><i class="fas-rot-dn fas fa-angle-double-right"></i></span></h3>
                                  <br><br><br><br>
                                <div class="card">
                                  <div class="card-header">
                                    <h4 class="card_head">NIRVANA-WEB  <i class="fas fa-hammer"></i></h4>
                                  </div>
                                  <div class="card-body">
                                    <h5 class="card-title">An Online mental health Solution</h5>
                                    <p class="card-text">An interactive website + app + chatbot for people having issues with their mental wellness such as stress , depression etc. Other feature involves various modes of entertainment and
                                      interaction with counsellors etc.</p>
                                    <a href="https://github.com/Struth-129/NirvanaWeb" class="btn btn-primary git_btn" target="_blank"><i class="fab fa-github"></i> GITHUB</a>
                                  </div>
                                </div><br><br>
                                <div class="card">
                                  <div class="card-header">
                                    <h4 class="card_head">My Web-Site <i class="fas fa-hammer"></i></h4>
                                  </div>
                                  <div class="card-body">
                                    <h5 class="card-title">A website displaying mine projects and skills</h5>
                                    <p class="card-text">An interactive website build using expressjs and handlebars containing information regarding my projects and skills</p>
                                    <a href="https://github.com/Struth-129/MyWebSite" class="btn btn-primary git_btn" target="_blank"><i class="fab fa-github"></i> GITHUB</a>
                                  </div>
                                </div><br><br>
                                <div class="card">
                                  <div class="card-header">
                                    <h4 class="card_head">ExpressJs-W-APP <i class="far fa-check-circle"></i></h4>
                                  </div>
                                  <div class="card-body">
                                    <h5 class="card-title">A Weather App</h5>
                                    <p class="card-text">An app which displays temperature , build using expressjs </p>
                                    <a href="https://github.com/Struth-129/ExpressJs-W-APP" class="btn btn-primary git_btn" target="_blank"><i class="fab fa-github"></i> GITHUB</a>
                                  </div>
                                </div><br><br>
                                <h3 class="txt_middle"><i class="fas fa-laptop-code"></i>  Machine-Learning/DL/CV Projects  <span id="base_icn_x"><i class="fas-rot-dn fas fa-angle-double-right"></i></span></h3>
                                <br><br><br>
                                <div class="card">
                                  <div class="card-header">
                                    <h4 class="card_head">Mask-Detector  <i class="far fa-check-circle"></i></h4>
                                  </div>
                                  <div class="card-body">
                                    <h5 class="card-title">A live mask detector </h5>
                                    <p class="card-text">A live mask detector trained using cnn on dataset taken from kaggle.For Face Detection we are using Haar-Like features then passing that frame to our trained CNN model which then predicts weather the person is wearing mask or not</p>
                                    <a href="https://github.com/Struth-129/Mask-Detector-using-CNN" class="btn btn-primary git_btn" target="_blank"><i class="fab fa-github"></i> GITHUB</a>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header">
                                    <h4 class="card_head">Lane Detector  <i class="far fa-check-circle"></i></h4>
                                  </div>
                                  <div class="card-body">
                                    <h5 class="card-title">Lane Detection </h5>
                                    <p class="card-text">A opencv application to detect lanes while driving a car.</p>
                                    <a href="https://github.com/Struth-129/Lane-Detector-" class="btn btn-primary git_btn" target="_blank"><i class="fab fa-github"></i> GITHUB</a>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header">
                                    <h4 class="card_head">Facial feature detector <i class="far fa-check-circle"></i></h4>
                                  </div>
                                  <div class="card-body">
                                    <h5 class="card-title">Haar - cascade</h5>
                                    <p class="card-text">A opencv application to detect facial features such as eyes , nose face itself using haar cascade detection.</p>
                                    <a href="https://github.com/Struth-129/Face-Feature-Detection" class="btn btn-primary git_btn" target="_blank"><i class="fab fa-github"></i> GITHUB</a>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header">
                                    <h4 class="card_head">Mimic Expression  <i class="far fa-check-circle"></i></h4>
                                  </div>
                                  <div class="card-body">
                                    <h5 class="card-title">Haar - cascade</h5>
                                    <p class="card-text">A opencv application to detect facial features such as eyes , nose face itself using haar cascade detection.</p>
                                    <a href="https://github.com/Struth-129/Face-Feature-Detection" class="btn btn-primary git_btn" target="_blank"><i class="fab fa-github"></i> GITHUB</a>
                                  </div>
                                </div><br><br>
                                <h3 class="txt_middle"><i class="fas fa-microchip"></i>  Embedded System Projects  <span id="base_icn_x"><i class="fas-rot-dn fas fa-angle-double-right"></i></span></h3>
                                <br><br><br><br>
                                <div class="card">
                                  <div class="card-header">
                                    <h4 class="card_head">Smart Irrigation  <i class="far fa-check-circle"></i></h4>
                                  </div>
                                  <div class="card-body">
                                    <h5 class="card-title">Automatic irrigation</h5>
                                    <p class="card-text">A smart irrigation system with the help of Arduino UNO and various
sensors such as DHT , Soil moisture , temp. sensor to keep as track of plant and soil as well and provide water supply whenever needed.</p>
                                    <a href="https://github.com/Struth-129/Smart-Irrigation" class="btn btn-primary git_btn" target="_blank"><i class="fab fa-github"></i> GITHUB</a>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header">
                                    <h4 class="card_head">Jatayu <i class="fas fa-hammer"></i></h4>
                                  </div>
                                  <div class="card-body">
                                    <h5 class="card-title">A smart surveillance robot</h5>
                                    <p class="card-text">A smart surveillance robot which will follow given waypoints and
have motion detection toolkit to detect any suspicious motion
around it .</p>
                                    <a href="" class="btn btn-primary git_btn" target="_blank"><i class="fab fa-github"></i> GITHUB</a>
                                  </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="container-fluid ">
            <div id="particles-js"></div>
        </div>
        {{>footer}}
        {{>srct}}
    </body>
</html>