<!DOCTYPE html>
<html>
    <head>
        {{> link}}
    </head>
<body>
<nav id="mynav" class="navbar navbar-expand-lg navbar-light">
<div class="container-fluid">
                          <a class="nav-head" href="#"><i class="rot-fab fab fa-galactic-republic"></i> Saket-Web <i class="rot-fab fab fa-galactic-republic"></i></a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mb-2 mb-lg-0">
                              <li class="nav-item">
                                <a class="nav-link-txt active" aria-current="page" href="/index">Home</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link-txt" href="myworks">My-projects</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link-txt" href="mycreav">My-Creativity</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link-txt" href="/about">AboutMe</a>
                              </li>
                          </div>
                        </div>
                      </nav>
                      <header>
                        <div class="overlay">
                        <h1 class="my_name">Saket Srivastava</h1>
                        <h3 class="gmt">National Institute of Technology , Patna</h3>
                        <p  class="fmt">Electrical Engineering</p>
                        <br>
                        <button class="below" id="hel">GO DOWN</button>
                            </div>
                    </header>
                    </body>
                    </html>