*{padding: 0; margin: 0; box-sizing: border-box;}
html{
    scroll-behavior: smooth;
}
body{height: 900px;width:100%;}
header {
	background: url("../images/1.png");
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
    box-shadow: 5px 5px 5px 5px;
    z-index:1;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
}

.my_name {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

.gmt, .fmt {
	font-family: 'Dancing Script', cursive;
	margin-bottom: 30px;
}
.fmt{font-size: 15px;}

.below {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
.below:hover{
    cursor: pointer;
    position:relative;
    top:3px;
    border-radius: 0px 0px 100px 100px;
    transition: border-radius 1s;
    box-shadow:3px 3px 3px 3px white;
}
.below:focus{
    outline:none;
    box-shadow:none;
    box-shadow:3px 3px 3px 3px white;
}

 /* Canvas */
 /* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
  }
  canvas {
    display: block;
    /* vertical-align: bottom; */
  } /* ---- particles.js container ---- */
  #particles-js {
    position: fixed;
    width: 95%;
    height:100%;
    background-color: #fffdfd;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: auto;
    top:0%;
    z-index: -100;
    /* background-position: 1% 50%; */
  } /* ---- stats.js ---- */
  body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}


.footer {
    font-family: 'Dancing Script', cursive;
    width: 100%;
    text-align: center;
    background-color: rgb(38, 44, 84);
    color:#fff;
    position: fixed;
    bottom: 0;
    padding:0;
    margin-top: auto;
    z-index: 2;
} 

.navbar{
    position: fixed;
    top:0;
    width:100%;
    z-index:2;
    
}
.nav-head{
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 18px;
    color:blue;
    padding:0px;
    margin:0;
    width:90%;
}
@media(max-width:700px){
    .nav-head
    { width:70%;}
}
.navbar-nav{
    margin-left: auto;
}
.nav-items{
    margin-left:20px;
}
.nav-link-txt{
    font-family: 'Dancing Script', cursive;
    color:blue;
    text-decoration: none;
    margin: auto;
    margin-left: 20px;
    font-size: 15px;
    transition: font-size 1s;
}
.nav-link-txt:hover{
    color:white;
    font-size: 16px;
    transition: font-size 0.2s;
}

.nav-colored { background-color:rgb(6, 6, 19);
height:50px; transition:ease-out background-color 2s;
}
.nav-transparent { background-color:transparent;
    transition:ease-out background-color 2s; color:white;}

.rot-fab{
    transition: all linear;
    animation: rot 2s linear infinite;
}
@keyframes rot{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

/* Middle Page */
.mid{
    margin-left:50px;
    margin-top:50px;
}
.txt_middle{
    font-size: 30px;
    font-family: 'Original Surfer', cursive;
}
.middle_page{
    position: absolute;
    top:50%;
    z-index: 1;
    width:100%;
}

/* My projects */
.fas{
    cursor: pointer;
    transform: rotate(0deg);
}
.fas-rot-dn:hover{
    cursor: pointer;
    transition: transform 0.5s;
    transform: rotate(90deg);
}
.card_head{
    font-family: 'Permanent Marker', cursive;
    color: rgb(172, 3, 172);
}
.card{
    box-shadow: 1px 1px 10px 1px;
    margin-bottom: 50px;
    border-radius: 0;
}
.card-title,.card-text{
    font-family: 'Courgette', cursive;
}
.card-title{
    font-size: 25px;
}.card-text{font-size: 20px;}
.git_btn{
    background-color: black;
}
.git_btn:hover{
    background-color: white;
    color:black;
}
.img_404{
    align-items: center;
    width: 100%;
}

.head_ind{
    font-family: 'Sacramento', cursive;
    font-weight: 900;
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
    color:rgb(106, 12, 109);
    transition: all linear;
    animation: hovi 2s infinite;
    padding: 0;
    position: absolute;
    left:35%;
}
@media(max-width:800px){
    .head_ind{left:25%;}
}
@keyframes hovi{
    0%{
        font-size: 105px;
    }50%{
        font-size: 100px;
    }100%{
        font-size: 105px;
    }
}
.pyth,.logo{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: relative;
    top:25%;
    margin-left: 10%;
    box-shadow: 1px 1px 10px 1px;    
}
.pyth:hover,.logo:hover{
    cursor: pointer;
    animation: pythr 1s alternate;
    box-sizing: 1px 1px 15px 1px;
    animation-fill-mode: forwards;
}
@keyframes pythr{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(-20deg);
    }
}
.middle{
    position: relative;
    top:30%;
    margin-bottom: 40px;
}
.logo{
    margin-top: 50px;
    margin-bottom: 50px;
}
.logo:hover{
    box-shadow: 1px 1px 10px 1px lime;
}
